extends ../layouts/index

block content
    div.controll
        a(href="/members") Back to members list

    h1 Member form

    form(action=submitUrl method="post")
        div
            label() Member name
            input(type="input" name="name" value=member.name)

        div
            label() Member email
            input(type="email" name="email" value=member.email)


        div
            label() Toggl id
            input(type="input" name="togglId" value=member.togglId)

        div
            label() Forecast id
            input(type="input" name="forecastId" value=member.forecastId)

        div
            label() PeopleHR id
            input(type="input" name="peopleHRId" value=member.peopleHRId)

        div
            label() Actual utilization (%)
            input(type="input" name="actualUtilization" value=member.actualUtilization)

        div
            label() Team
            select(name="team")
                option(value="") No team
                each team in teams
                    option(value=team.id selected=(member.team == team.id)) #{team.name}

        input(type="submit" value="Save")
