extends ../layouts/index

include ../blocks/report-members

block content
    h3 Custom plan/fact from
    form(method="get" action="")
        div
            label(for="dateFrom") Date start
            input(id="dateFrom" name="dateFrom" type="date" value=dateFrom)
        div
            label(for="dateTo") Date end
            input(id="dateTo" name="dateTo" type="date" value=dateTo)
        div
            label(for="projectId") Project
            select(id="projectId" name="projectId")
                each project in projects
                    option(value=project.id selected=project.id == projectId) #{project.name}

        button Show report


    if factReports && factReports.length > 0
        h3 Plan/Fact report

        //a(href="https://toggl.com/app/reports/summary/197313/from/2018-04-18/to/2018-04-22/projects/109313623/billable/yes") Toggl report link
        // TODO add forecast link

        table(border="1")
            thead
                tr
                    each report in factReports
                        td.week-info()
                            div #{report.startDate.format('ll')} – #{report.endDate.format('ll')}

                tr
                    +reportMembers(factReports)