extends ../layouts/week-report

include ../blocks/company-health
include ../blocks/bench-members
include ../blocks/project-list

block table_body

    tbody
        tr
            +companyHealth(weeksData)

        tr
            each weekData in weeksData
                td.week-info.departments
                    span Departments plan:
                        ul
                            each department in weekData.getDepartmentsList()
                                li(
                                    title='Department capacity: ' + department.getScheduledDuration() + 'h. / ' + department.getAvailableDuration() + 'h.'
                                )
                                    span #{department.getName()}
                                    span –
                                    span #{department.getLoadPercent()}%

        tr
            each weekData in weeksData
                td.week-info.rotation
                    span Unplanned members.
                    span Total – #{weekData.getMembersList().getUnplannedDuration()}h.
                    ul
                        each member in weekData.getMembersList().getUnplannedMembers()
                            li #{member.getName()} – #{member.getUnplannedDuration()} h.

        tr
            +benchMembers(weeksData)

        tr
            +projectList(weeksData)




