extends ../layouts/index

block content
    div.controll
        a(href="/members") Back to teams list

    h1 Team edit

    form(action=submitUrl method="post")
        div
            label() Team name
            input(type="input" name="name" value=team.name)


        div
            label() Representative
            select(name="representative")
                option(value="") No representative
                each member in members
                    option(value=member._id selected=(team.representative && member.id === team.representative.id)) #{member.name}

        input(type="submit" value="Save")

    if members && members.length > 1
        h3 Members
        ul
            each member in members
                li()
                    span #{member.name}
                    a(href="/members/" + member.id) Edit
