extends _layout-week-report

block table_body

    tr
        each weekData in weeksData
            td.week-info.rotation
                table.simple-table
                    tr.table-head
                        td Project name
                        td Planned h.
                        td Fact h.
                        td Deviation
                    each project in weekData.getProjectList().getBillableProjects()
                        tr
                            td #{project.getName()}
                            td #{project.getTotalDuration()}
                            td
                            td

    tr
        each weekData in weeksData
            td.week-info.rotation
                table.simple-table
                    tr.table-head
                        td Member name
                        td Planned h.
                        td Fact h.
                        td Accuracy %
                    each member in weekData.getMembersList().getAllMembers()
                        tr
                            td #{member.getName()}
                            td #{member.getBillableDuration()}
                            td #{member.getFactBillableDuration()}
                            td(class=member.getPlanningAccuracyPercent() > 95 ? "good" : "wrong")
                                span #{member.getPlanningAccuracyPercent()}
                    tr
                        td Total
                        td #{weekData.getMembersList().getBillableDuration()}
                        td #{weekData.getMembersList().getFactBillableDuration()}
                        td(class=weekData.getMembersList().getPlanningAccuracyPercent() > 95 ? "good" : "wrong")
                            span #{weekData.getMembersList().getPlanningAccuracyPercent()}
