doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="x-apple-disable-message-reformatting")
            link(rel="stylesheet", href="style.css", data-inline)
    body
        img(style={
          'width': '36px',
          height: '36px'
        } src="https://avatars0.githubusercontent.com/u/6436057?s=200&v=4" alt="Rademade Logo")
        p(style={'margin-top': '16px'}) #{emailData.name}, привет.
        p #{emailData.billableNotification}

        if emailData.isBillableNotification
            p Есть трабла, процент billable часов на прошлой неделе составил #{emailData.lastWeek.fact}% и загрузка планировалась #{emailData.lastWeek.planned}%
            p Будет круто, елси ты:
            ul
                li Пересмотришь свот toggl отчет
                li Скажешь, если тебе нужна помощь в этом вопросе

        if emailData.isForecastEmpty
            p(style={'margin-top': '16px'}) Есть нюанс, на эту неделю у тебя планируеться #{emailData.thisWeek.planned || 0}% загрузки. Минимальный показатель должен быть 80% если не считать отпуск/больничный.
            p Будет круто, елси ты:
            ul
                li Заполнишь свой forecast
                li Или поговоришь с командой о необходимости проекта. Представитель подымит этот вопрос на встрече с BD

        if emailData.isToggleEmptyProject
            p Просмотри пожалуйста свой toggl за прошлую и текущую неделю и прикрепи задачи к проектам
            a(style={
               'display': 'inline-block',
               'padding': '8px 16px',
               'color': 'white',
               'font-weight': '600',
               'text-decoration': 'none',
               'background': 'red',
               'text-transform': 'uppercase',
               'border-radius': '8px'
             } href="https://toggl.com/app/timer") Toggl

        p  Желаю тебе офигенной неделе
        p  С любовью, Rademade Vision
