mixin companyHealth(reports)
    each report in reports
        td.week-info.utilization
            span Company health:
            ul
                li Total capacity – #{report.getTotalCapacityDuration()}h.
                li Planned – #{report.getPlannedDuration()}h. [#{report.getPlannedPercent()}]%
                li Billable – #{report.getBillableDuration()}h. [#{report.getBillablePercent()}]%
                li Internal process #{report.getInternalProcessDuration()}h. [#{report.getInternalProcessPercent()}]%
                li Vacations #{report.getVacationDuration()}h. [#{report.getVacationPercent()}]%
                li Unplanned #{report.getUnplannedDuration()}h. [#{report.getUnplannedPercent()}]%