mixin reportProjects(reports)
    - var maxIndex = reports.length - 1
    each report, index in reports
        td.week-info.rotation
            table.simple-table
                tr.table-head
                    td Project name
                    td Planned h.
                    td Fact h.
                    td Accuracy %
                each project in report.getProjectList().getBillableProjects()
                    tr
                        td
                            span.project-name #{project.getName()}
                            if index > 0 && !reports[index - 1].getProjectList().isExist(project)
                                sup.project-status.project-status-new New
                            if index < maxIndex && !reports[index + 1].getProjectList().isExist(project)
                                sup.project-status.project-status-fell-off Fell off
                        td #{project.getTotalDuration()}
                        td #{project.getFactBillableDuration()}
                        td(class=project.getPlanningAccuracyPercent() > 95 ? "good" : "wrong")
                            span #{project.getPlanningAccuracyPercent()}
