mixin reportTeams(reports)
    each report in reports
        td.week-info.rotation
            table.simple-table
                tr.table-head
                    td
                        span() Team name
                    td
                        span(title="Planned billable capacity from forecast.it") Planned %
                    td
                        span(title="Fact billable capacity from toggl.com") Fact %
                each team in report.getTeamsList()
                    - var planStatusClass = team.getLoadPercent() > 80 ? "good" : (team.getLoadPercent() > 71.2 ? "normal" : "wrong")
                    - var factStatusClass = team.getFactLoadPercent() > 80 ? "good" : (team.getFactLoadPercent() > 71.2 ? "normal" : "wrong")
                    tr
                        td
                            div.toggle-ico.toggle-ico-plus
                            span #{team.getName()}
                        td(class=planStatusClass)
                            span(title=team.getBillableDuration() + " hours") #{team.getLoadPercent()}
                        td(class=factStatusClass)
                            span(title=team.getFactBillableDuration() + " hours") #{team.getFactLoadPercent()}
                    tr.hide
                        td(colspan="3")
                            // Display team members
                            table.simple-table
                                tr.table-head
                                    td Team
                                    td Planned h.
                                    td Fact h.
                                    td Accuracy %
                                each member in team.getAllMembers()
                                    //TODO Add styles for numbers
                                    tr
                                        td #{member.getName()}
                                        td #{member.getBillableDuration()}
                                        td #{member.getFactBillableDuration()}
                                        td()
                                            span #{member.getPlanningAccuracyPercent()}