mixin reportTeams(reports)
    each report in reports
        td.week-info.rotation
            table.simple-table
                tr.table-head
                    td
                        span() Team name
                    td
                        span(title="Planned billable capacity from forecast.it") Planned %
                    td
                        span(title="Fact billable capacity from toggl.com") Fact %
                each team in report.getTeamsList()
                    tr
                        td #{team.getName()}
                        td(class=team.getLoadPercent() > 80 ? "good" : "wrong")
                            span(title=team.getBillableDuration() + " hours") #{team.getLoadPercent()}
                        td(class=team.getFactLoadPercent() > 80 ? "good" : "wrong")
                            span(title=team.getFactBillableDuration() + " hours") #{team.getFactLoadPercent()}