mixin reportMembers(reports)
    each report in reports
        td.week-info.rotation
            table.simple-table
                tr.table-head
                    td Member name
                    td Planned h.
                    td Fact h.
                    td Accuracy %
                each member in report.getMembersList().getAllMembers()
                    tr
                        td #{member.getName()}
                        td #{member.getBillableDuration()}
                        td #{member.getFactBillableDuration()}
                        td(class=member.getPlanningAccuracyPercent() > 95 ? "good" : "wrong")
                            span #{member.getPlanningAccuracyPercent()}
                tr
                    td
                        b Total
                    td #{report.getMembersList().getBillableDuration()}
                    td #{report.getMembersList().getFactBillableDuration()}
                    td(class=report.getMembersList().getPlanningAccuracyPercent() > 95 ? "good" : "wrong")
                        span #{report.getMembersList().getPlanningAccuracyPercent()}