extends ../layouts/index

block content
    div.controll
        a(href="/projects") Back to projects list

    h1 Project form

    form(action=submitUrl method="post")
        div
            label() Project name
            input(type="input" name="name" value=project.name)

        div
            label() Toggl name
            input(type="input" name="togglName" value=project.togglName)

        div
            label() Toggl id
            input(type="input" name="togglId" value=project.togglId)

        div
            label() Forecast id
            input(type="input" name="forecastCompanyId" value=project.forecastCompanyId)

        input(type="submit" value="Save")
